:root {
  --primary-color: #3498db;
  --secondary-color: black;
  --accent-color: rgb(46, 62, 238);
  --background-color: #ecf0f1;
  --text-color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: var(--secondary-color);
  color: #fff;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 1rem;
}

nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--primary-color);
}

.hero {
  background-color: #fff;
  padding: 8rem 0;
}

.hero-content {
  display: flex;
  margin-left: 10rem;
  align-items: center;
}

.hero-text {
  flex: 1;
  padding-right: 2rem;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: var(--accent-color);
  transform: translateY(-2px);
}

section {
  padding: 4rem 0;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.project-card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

#contact {
  padding: 4rem 0;
  background-color: #fff;
}

.contact-info {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.email a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.email a:hover {
  color: var(--accent-color);
}

form {
  max-width: 500px;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

footer {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}
